@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
  --animate-gradient-x: gradient-x 15s ease infinite;

  @keyframes gradient-x {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

/* Hide Sidebar Globally as requested */
aside,
[data-fd-details-sidebar] {
  display: none !important;
}
